@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

@font-face {
  font-family: "gotham";
  font-weight: 400;
  src: url(../fonts/GothamRounded-Book.otf);
}

@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/FontAwesome.otf);
}

@font-face {
  font-family: "gotham";
  font-weight: 300;
  src: url(../fonts/GothamRounded-Light.otf);
}

@font-face {
  font-family: "gotham";
  font-weight: 500;
  src: url(../fonts/GothamRounded-Medium.otf);
}

@font-face {
  font-family: "gotham";
  font-weight: 600;
  src: url(../fonts/GothamRounded-Bold.otf);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1430px;
  }
}
:root {
  --main-bg-color: coral;
  --main-txt-color: blue;
  --input-border-radius: 100px;
  --input-font-size: 10pt;
}
.custom-icon {
  width: 31px;
  padding: 5px;
  margin-right: 0px;
}

.canvas-container {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.control-panel {
  width: 92%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform: translateY(-34%);
}

.control-panel.collapsed {
  width: 100%;
}

html,
body {
  background: linear-gradient(90deg, #07325d, #1b1230);
  /* background: #fff; */
  color: #fff;
  font-family: "gotham";
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}
body.pick {
  cursor: crosshair !important;
}
label {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input:focus {
  outline: none;
}

/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
} */

select:focus {
  outline: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: inherit;
}
/* width */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #07325d;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #47c3ad99;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #47c3ad;
}
.vdp-datepicker__calendar .cell {
  height: 30px;
  line-height: 30px;
  font-size: 10pt;
}

.vdp-datepicker__calendar header span {
  font-size: 10pt !important;
}

.vdp-datepicker__calendar {
  position: absolute;
  right: 0;
  top: 50px !important;
  z-index: 10000;
  border: solid 1px #47c3ad !important;
  background: #07325d !important;
  width: 250px !important;
  box-shadow: 1px 8px 16px -3px rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px;

  transform: scale(1.05, 1.05);
}
.vdp-datepicker__calendar header .prev:not(.disabled):hover,
.vdp-datepicker__calendar header .next:not(.disabled):hover,
.vdp-datepicker__calendar header .up:not(.disabled):hover {
  background: transparent !important;
}
.vdp-datepicker__calendar header .next:after {
  border-left: 10px solid #47c3ad !important;
}

.vdp-datepicker__calendar header .prev:after {
  border-right: 10px solid #47c3ad !important;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border-color: #47c3ad !important;
}
.vdp-datepicker__calendar .cell.highlighted {
  background: #47c3ad;
}
.date-input {
  transition: none;
}
.date-selectors {
  display: inline-flex;
  align-items: flex-start;
  display: inline-flex;
  margin-left: auto;
  align-items: center;
}

.date-input:focus {
  position: relative;
  border: solid 1px #47c3ad;
  /* border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important; */
  z-index: 1;
  /* transform: scale(1.05, 1.05); */

  box-shadow: 1px 3px 19px rgba(0, 0, 0, 0.2);
}

.date-input:focus ~ .standard-input-icon {
  transform: scale(1.05, 1.05);
}
.vue-slider-component .vue-slider-tooltip {
  background: #47c3ad;
  border-color: #47c3ad;
}
.vue-slider-component .vue-slider-dot .vue-slider-dot-handle {
  box-shadow: 0.5px 0.5px 11px 3px #47c3ad;
  transition: all 0.3s ease;
}
.vue-slider-component .vue-slider-dot .vue-slider-dot-handle:active {
  transform: scale(1.1, 1.1);
}
.vue-slider-component .vue-slider-process {
  background: #47c3ad;
}
.vue-slider-component .vue-slider {
  background: #2d4678;
}
.standard-input {
  background: transparent;
  color: #fff;
  padding: 7px 10px;
  border: solid 1px #657aaa;
  -webkit-box-shadow: 0px 4px 30px -13px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 30px -13px rgba(0, 0, 0, 0.6);
  border-radius: var(--input-border-radius);
  width: 100%;
  margin: 5px 0px;
  font-size: var(--input-font-size);
  line-height: 14pt;
  transition: border-color 0.3s ease;
}

.standard-input.icon {
  padding-left: 35px;
}

.standard-input-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.standard-input-item {
  flex: 1;
  margin: 2px;
  position: relative;
}

.small-font {
  font-size: var(--input-font-size);
}

.standard-input-item.has-error input {
  border-color: #f49898;
}

.tooltip-red {
  background: #f49898;
}

.standard-input-item.has-error .standard-input-title {
  color: #f49898;
}

.css-help-block {
  position: absolute;
  top: 32px;
  /* transform: translateY(100px); */
  right: 10px;
  color: #f5a0a0;
}

.standard-input-title {
  font-size: 10pt;
}

.standard-input:hover {
  border: solid 1px #47c3ad;
}

.standard-input:focus {
  border-color: #00c2f2;
  outline: none;
}

.standard-select {
  background: #fff;
  border: solid 1px #e2eaec;
  border-radius: var(--input-border-radius);
  font-size: var(--input-font-size);
  width: 100%;
  padding: 10px;
  transition: all 0.1s ease;
  margin: 5px 0px;
}

.standard-select:hover {
  border-color: #d1dde0;
}

.standard-select:focus {
  outline: none;
  border-color: #00c2f2;
}

.checkbox-container input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.left-sub-sidebar-item-top .checkbox-container {
}

.standard-checkbox {
  height: 15px;
  width: 15px;
  background: #cbd7da;
  border-radius: var(--input-border-radius);
  border: solid 2px #cbd7da;
  position: relative;
}

.checkbox-container:hover input ~ .standard-checkbox {
  background: #cbd7da;
}

.checkbox-container input:checked ~ .standard-checkbox {
  background: #00c2f2;
  border: none;
}

.standard-checkbox:after {
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 9pt;
  color: #fff;
  display: none;
}
.custom-select-container {
  box-shadow: 0px 4px 30px -13px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  padding: 0px 10px;
  position: relative;
  width: 100%;
  min-height: 35px;
  border: solid 1px #47c3ad;
  border-radius: var(--input-border-radius);
  background: transparent;
  margin: 5px 0px;
}

.custom-select-container:hover {
  border-color: #d1dde0;
}

.custom-select-container.open {
  position: relative;
  z-index: 1000000000;
  background: #47c3ad;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 7px;
  border-color: transparent;
  box-shadow: 1px 3px 19px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 7px;
  transform: scale(1.05, 1.05);
}

.custom-select-field {
  font-size: var(--input-font-size);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.custom-select-container i {
  margin-left: auto;
  transition: all 0.3s ease;
}

.custom-select-container.open i {
  transform: rotate(180deg);
}

.custom-select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% + 2px);
  margin-left: -1px;
  overflow: auto;
  background: #47c3ad;

  box-shadow: 0px 9px 22px -3px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  max-height: 200px;
}

.custom-select-options li {
  padding: 10px;
  font-size: 10pt;
  user-select: none;
}

.custom-select-options li:hover {
  background: #ffffff22;
  cursor: pointer;
}

.custom-selector-container {
  padding: 10px;
  height: 40px;
  border: solid 1px #ddd;
  background: #fff;
  border-radius: var(--input-border-radius);
  display: flex;
  position: relative;
  transition: all 0.2s ease;
  margin: 5px 0px;
}

.custom-selector-container:hover {
  background: #f8fafb;
}

.custom-selector-container.open {
  background: #f8fafb !important;
}

.inner-selector {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}

.custom-selector-container.open .inner-selector i {
  transform: rotate(180deg);
}

.inner-selector i {
  transition: all 0.2s ease;
  margin-left: auto;
}

.inner-selector.selector-label {
  font-size: 13pt;
  color: #000;
}

.selector-options {
  position: absolute;
  left: 0;
  top: 39px;
  background: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 100000;
}

.selector-options li {
  padding: 10px;
  font-size: 10pt;
  cursor: pointer;
  user-select: none;
}

.selector-options li:hover {
  background: #f8fafb;
}

.selector-options li.active {
  color: #3080e8;
}
